// if currentUser.completeDailyQuest == false
.workout
    .row.workout_heading
        .col-xs-4.col-xs-offset-2
            .text_block    
                h3  #{achive.title}
                p #{achive.description}

        .col-xs-4
            .btn_block
                .prize
                    span.prize_count +#{achive.prize}
                    span.prize_text brain coins
                        
                        
                
        
        