div.row.footer_conteiner
   .col-md-3
        .logo_container
            span #[a(href="/") Brainny]
    .col-md-6
        .left_menu_container
            ul.text-center
                li #[a(href="/about") О проекте]
                li #[a(href="/later") Поддержка]
    .col-md-3
        .right_menu_container.text-right
                ul.text-right
                    li #[a(href="#") #[img(src="img/fbicon.png")]]
                    li #[a(href="#") #[img(src="img/vkicon.png")]]
