html
    title Profile
    include links.jade
head
    body
        div.container
            include header.jade

            .row
                .col-md-12
                    h3 Мы еще не доделали часть сайта
                    p Эта страница и функционал будут добавленны немного позже


        div.container    
            include footer.jade   
