.game_process_info 
    .game_progress
        .game_progress_done
    
            
.main_game_wrapper.myHidden       
    .helpers
        .score
            .correct
                span Правильных ответов: 0
            // .errors
            //     span 3
        //.left
            span #[img(src="img/arrow-left.png")] Решение не верно
        //.right
            span Решение верно #[img(src="img/arrow-right.png")]
    .main_game
        .wrapper
            .board
            
                


                
        