/* power brain */

$bgColorLight: #131728;
$bgColorDark: #352743;
$good: #2fb16f;
$bad: #e04d42;
$btnPrimary: #2fb16f;
$memory: #48b3fe;
$logic: #2fb16f;
$attention: #e04d42;
$reaction: #edc35d;
$shadow: #131728;

.main_game_wrapper {
    // background: rgba(#000, 0.1);
    // width: 400px;
    // height: 400px;
    // height: 400px;
    // width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: mainGameWrapperAppearence 0.5s forwards 0.5s;
    @keyframes mainGameWrapperAppearence {
        1% {
            display: block;
        }
        100% {
            opacity: 1;
        }
    }
    &.myHidden {
        display: none;
        opacity: 0;
    }
}

.cell {
    display: inline-block;
    background: rgba(#fff, 0.02);
    color: #000;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transform: scale(0.1);
    animation: cellApperence 0.1s ease-in-out forwards;
    @keyframes cellApperence {
        100% {
            transform: scale(1);
        }
    }
    &.active {
        background: url(../../img/figures/cir_blue.png), rgba(#fff, 0.02);
    }
    
    // &.cir_green{
    //     border-radius: 0px;
    //     background: url(../../img/figures/cir_green.png);
    // }
    // &.cir_red{
    //     border-radius: 0px;
    //     background: url(../../img/figures/cir_red.png);
    // }
    // &.cir_yellow{
    //     border-radius: 0px;
    //     background: url(../../img/figures/cir_yellow.png);
    // }
    // &.sq_blue{
    //     border-radius: 0px;
    //     background: url(../../img/figures/sq_blue.png);
    // }
    // &.sq_green{
    //     border-radius: 0px;
    //     background: url(../../img/figures/sq_green.png);
    // }
    // &.sq_red{
    //     border-radius: 0px;
    //     background: url(../../img/figures/sq_red.png);
    // }
    // &.sq_yellow{
    //     border-radius: 0px;
    //     background: url(../../img/figures/sq_yellow.png);
    // }
    // &.sqr_blue{
    //     border-radius: 0px;
    //     background: url(../../img/figures/sqr_blue.png);
    // }
    // &.sqr_green{
    //     border-radius: 0px;
    //     background: url(../../img/figures/sqr_green.png);
    // }
    // &.sqr_red{
    //     border-radius: 0px;
    //     background: url(../../img/figures/sqr_red.png);
    // }
    // &.sqr_yellow{
    //     border-radius: 0px;
    //     background: url(../../img/figures/sqr_yellow.png);
    // }
    // &.star_blue{
    //     border-radius: 0px;
    //     background: url(../../img/figures/star_blue.png);
    // }
    // &.star_green{
    //     border-radius: 0px;
    //     background: url(../../img/figures/star_green.png);
    // }
    // &.star_red{
    //     border-radius: 0px;
    //     background: url(../../img/figures/star_red.png);
    // }
    // &.star_yellow{
    //     border-radius: 0px;
    //     background: url(../../img/figures/star_yellow.png);
    // }
    // &.tr_blue{
    //     border-radius: 0px;
    //     background: url(../../img/figures/tr_blue.png);
    // }
    // &.tr_green{
    //     border-radius: 0px;
    //     background: url(../../img/figures/tr_green.png);
    // }
    // &.tr_red{
    //     border-radius: 0px;
    //     background: url(../../img/figures/tr_red.png);
    // }
    // &.tr_yellow{
    //     border-radius: 0px;
    //     background: url(../../img/figures/tr_yellow.png);
    // }

    
    
    &.flip.active {
        background: white;
        animation: activeFlip 0.4s forwards ease-in-out;
        transform: rotateY(-180deg);
        @keyframes activeFlip {
            0% {
                transform: rotateY(-180deg);
            }
            49% {
                background: white;
            }
            50% {
                background: $memory;
            }
            100% {
                background: $memory;
                transform: rotateY(0deg);
            }
        }
    }
    &.flip.fail {
        background: white;
        animation: failFlip 0.4s forwards ease-in-out;
        transform: rotateY(-180deg);
        @keyframes failFlip {
            0% {
                transform: rotateY(-180deg);
            }
            49% {
                background: white;
            }
            50% {
                background: $attention;
            }
            100% {
                background: $attention;
                transform: rotateY(0deg);
            }
        }
    }
}